@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body{
    font-family: "Fraunces", serif ;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.carta{
    border-radius: 10px;
    display: flex;
    max-width: 666px;
    background-color: white;
    margin: 0 1rem  ;
}

.img-contenedor {
    width: 50%;
}

.img-contenedor img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.detalles{
    width: 50%;
    padding: 2rem;
}

.detalles .nombre{
    color:hsl(212, 21%, 14%) ;
    padding-right: 2rem;
    margin-bottom: 1.75rem;
}

.detalles .descripcion{
    font-family: "Montserrat", serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 22px;
    margin-bottom: 1.75rem;
}

.montserratP{
    font-family: "Montserrat";
    letter-spacing: 3px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 1.75rem;
    text-transform: uppercase;
}

.precios{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.75rem;
}

.precios .precio-actual{
    color: hsl(158, 36%, 37%);
}

.precios .precio-old{
    font-family: "Montserrat";
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.detalles .boton{
    width: 100%;
    border: 0;
    outline: 0;
    background-color: hsl(158, 36%, 37%);
    color: white   ;
    font-family: "Montserrat";
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.detalles .boton:hover{
    background-color: hsl(158, 36%, 20%);

}

@media only screen and (max-width: 550px){
    .carta{
        margin-top: 1rem ;
        margin-bottom: 1rem;
    }

    .img-contenedor{
        width: 100%;
        height: 40%;
    }

    .img-contenedor img{
        content: url(images/image-product-mobile.jpg);
    }
    
    .carta{
        flex-direction: column ;
    }

    .detalles{
        width:100% ;
    }

    .detalles .nombre{
        padding-right: 0;
    }

    .img-contenedor img{
        border-top-left-radius: 10px;
        border-top-right-radius:10px ;
        border-bottom-left-radius: 0px;
    }
}